.film-list {
  list-style-type: none;
  border: 2px solid #8D4960;
  border-radius: 9px;
  width: 330px;
  padding-left: 20px;
  margin-left: 20px;
  /* background-color: #ccffff; */
  background: -webkit-linear-gradient(45deg, #CCFFFF 0%, #46FFFD 100%);
}

.film-link a {
  display: inline-block;
  width: 300px;
  border: 1px solid #8D4960;
  margin-top: 10px;
  padding: 5px 0px 5px 5px;
  background-color: #e6ccff;
  border-radius: 5px;
}

.film-link:last-child {
  margin-bottom: 10px;
}

a {
  color: #8A1D00;
  text-decoration: none;
}

.upcoming-link {
  padding: 5px 10px;
  border: 1px solid #8D4960;
  margin-left: 62px;
  background-color: #A8DDF1;
  border-radius: 5px;
}

h1 {
  color: #8D4960;
  margin-left: 5px;
  text-transform: uppercase;
}
